.content {
    margin: 0.2rem 0.1rem;
}

.content .italic,
.content.subtitle,
.content.description .line-name {
    font-style: italic;
}

.content .bold,
.content .line-name {
    font-weight: bold;
}

.content .line-name:after {
    content: ' ';
}

/* PROPERTY CONTENT */

/* DESCRIPTION CONTENT */

.content.description .line-name:after {
    content: '. ';
}

/* LIST CONTENT */
.content.list {
    padding-left: 1rem;
}
.content.list {
    position: relative;
}
.content.list::before {
    height: 0;
    width: 0;
    overflow: visible;
    content: '▶';
    font-size: 0.5rem;
    position: absolute;

    left: 0;
    top: 0.2rem;
}

/* PAPER */
